@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "themes/dark";
@import "themes/light";
@import "variables/global";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contentWrapper {
  margin-left: var(--sidebar-width);
}
@media screen and (max-width: 1040px) {
  .contentWrapper {
    margin: 0;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: .2s;
}

html, body {
  font-family: 'Inter', sans-serif;
}

p {
  color: var(--color-paragraph);
}

a {
  color: #1a3cd3;
  text-decoration: underline;
  cursor: pointer;
}

label {
  color: var(--color-paragraph);
  font-weight: 600;
}

.input {
  border: 2px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
}