@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "themes/dark";
@import "themes/light";
@import "variables/global";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: .2s;
}

html, body {
  font-family: 'Inter', sans-serif;
}

p {
  color: var(--color-paragraph);
}

a {
  color: #1a3cd3;
  text-decoration: underline;
  cursor: pointer;
}

label {
  color: var(--color-paragraph);
  font-weight: 600;
}

button {
  background-color: var(--color-primary);
  color: var(--color-button-text);
  transition: .2s;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.input {
  border: 2px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
}