:root {
  --color-button-text: #fff;
  --color-global-primary: #5c57ff;
  --color-global-primary-hover: rgb(114, 109, 255);
  --color-paragraph-darker: rgb(140, 140, 140);
  --primary-gradient: -webkit-linear-gradient(45deg, #4286e7, #645aff, #be54ff);
  --secondary-gradient: -webkit-linear-gradient(45deg, #ff8f4f, #ff8409, #ffd200);

  --toastify-color-light: rgba(245, 245, 245);
  --toastify-color-dark: #1a1c20;
}