.button {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  border: none;
  border-radius: .3rem;
  padding: 10px;
  min-width: 130px;
  cursor: pointer;

  background-color: var(--color-global-primary);
  color: var(--color-button-text);
  transition: .2s;

  &:hover {
    background-color: var(--color-global-primary-hover);
  }
}