.input {
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-size: 16px;

  &::-webkit-file-upload-button {
    cursor: pointer;
    background: var(--color-primary);
    color: var(--color-text);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
  }
}

.label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}