.feed {
  display: grid;
  grid-template-columns: 320px 1fr;
  padding: 20px;
}

.feedContent {
  margin-top: 20px;
}

.feedInput {
  display: flex;
  align-items: flex-start;

  button {
    margin-left: 20px;
  }
}

.burgerButtonIcon {
  color: var(--color-text);
}

@media screen and (min-width: 845px) {
  .burgerButton {display: none;}
}

@media screen and (max-width: 945px) {
  .feedInput {
    flex-direction: column;

    button {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 845px) {
  .feed {
    align-items: flex-start;
    grid-template-columns: 40px 1fr;
    column-gap: 45px;
  }
}

@media screen and (max-width: 450px) {
  .feed {
    display: flex;
    flex-direction: column;
  }
  
  .feedContent {
    width: 100%;
  }

  .feedInput button {
    margin-top: 0;
  }
}