.feed {
  display: grid;
  grid-template-columns: 320px 1fr;
  padding: 20px;
}

.feedContent {
  margin-top: 20px;
}

.feedInput {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--color-border);

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  img {
    margin-top: 10px;
    width: 160px;
    cursor: pointer;
  }

  p {
    margin-top: 10px;
  }
}

.burgerButtonIcon {
  color: var(--color-text);
}

@media screen and (min-width: 845px) {
  .burgerButton {display: none;}
}

@media screen and (max-width: 945px) {
  .feedInput {
    flex-direction: column;

    button {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 845px) {
  .feed {
    align-items: flex-start;
    grid-template-columns: 40px 1fr;
    column-gap: 45px;
  }
}

@media screen and (max-width: 730px) {
  .feed {
    display: flex;
    flex-direction: column;
  }
  
  .feedContent {
    width: 100%;
  }

  .feedInput {
    width: 100%;

    button {
      margin-top: 20px;
    }
  }
}