.Article{
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 15px;

  width: 100%;
  margin: 15px auto auto;

  &:first-child {
    margin: 0;
  }
}

.content {
  margin-top: 20px;
}

@media screen and (max-width: 1040px) {
  .content img {
    width: 70%;
  }
}