.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  border-right: 1px solid var(--color-border);
  position: fixed;
}

.sidebarInner {
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;

    color: var(--color-text);

    border-radius: 25px;

    text-decoration: none;
    
    margin-top: 7px;
    padding: 10px;
    
    &:hover {
      background-color: var(--hover-color);
      color: var(--color-primary);

      h3 {
        background: -webkit-linear-gradient(45deg, #4286e7, #645aff, #be54ff);
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .linkIcons {
        color: #4286e7;
      }
    }

    &:first-child {margin: 0;}

    h3 {
      margin-left: 10px;
      font-size: 21px;
    }

    max-width: 220px;
  }
}

.linkIcons {
  color: var(--color-text);
}

.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
  }
}

.closeBtn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  padding: 12px;
  background: none;
  color: var(--color-text);
  box-shadow: 0 0 10px 0 #00000034;
  cursor: pointer;
  transition: .4s;

  &:hover {
    color: var(--color-primary);
    background-color: var(--hover-color);
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 320px;
  height: 100%;

  padding: 20px;

  background-color: var(--color-bg);
  box-shadow: 0 0 10px 0 #000;

  transition: .35s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.openMenu {}
.closedMenu {
  visibility: hidden;
  opacity: 0;
  translate: -300px;
}

@media screen and (max-width: 1040px) {
  .sidebar {
    display: none;
  }
}