.app_light_theme {
  --color-bg: rgba(245, 245, 245);
  --color-text: rgb(22, 21, 27);
  --color-paragraph: rgb(102, 102, 102);
  --color-primary-hover: rgb(114, 109, 255);
  --color-border: #e7e6ea;
  --hover-color: rgb(238, 238, 238);
}