.PopupMenu {
  background-color: var(--color-bg);
  //box-shadow: 0 0 5px 0 var(--box-shadow-color);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 10px;

  button {
    text-align: left;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;

    &:first-child {
      margin: 0;
    }
  }
}
.danger {
  color: red;
  &:hover {
    background-color: rgba(255, 0, 0, 0.04);
  }
}
.primary {
  color: #fff;
  &:hover {
    background-color: var(--hover-color);
  }
}