.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homeContent {
  height: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

  h1 {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
  }

  p {
    font-weight: 400;
    width: 65%;
    margin-top: 15px;
  }

  .coloredTitle1 {
    background: -webkit-linear-gradient(45deg, #ff8f4f, #ff8409, #ffd200);
  }
  .coloredTitle2 {
    background: -webkit-linear-gradient(45deg, #4286e7, #645aff, #be54ff);
  }
  .coloredTitle1,
  .coloredTitle2 {
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateTextGradient 5s ease-in-out infinite;;
  }

  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.shape {
  display: inline-block;
  position: absolute;
  width: 400px;
  height: 400px;
  left: calc(50% - 400px / 2);
  top: calc(50% - 400px / 2);
  border-radius: 100%;
  z-index: -1;
  background: linear-gradient(50deg, #adadff 50%, #fff6b8 40%, #ffe3bd 30%);
  filter: blur(80px);
  animation: animateFigure 5s ease-in-out infinite;
  will-change: transform;
  box-shadow:
    0 0 20px #6161ff,
    0 0 30px #ffa62a,
    0 0 55px #6161ff,
    0 0 30px #ffa62a,
    0 0 20px #6161ff,
    0 0 30px #ffa62a;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

html[data-theme='dark'] {
  .shape { background: linear-gradient(50deg, #333358 40%, #58532f 40%, #5c401a 30%); }
}

@keyframes animateFigure {
  0% {
    transform: rotate(0deg);
    background-position: 45% 50%;
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    background-position: 100% 50%;
    opacity: .5;
  }
}
@keyframes animateTextGradient {
  0% { background-position: 45% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 45% 50%; }
}