@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

html[data-theme='light'] {
  --color-bg: rgba(245, 245, 245);
  --color-text: rgb(22, 21, 27);
  --color-paragraph: rgb(102, 102, 102);
  --color-primary-hover: rgb(114, 109, 255);
  --color-border: #e7e6ea;
}

html[data-theme='dark'] {
  --color-bg: #1a1c20;
  --color-text: rgba(245, 245, 245);
  --color-paragraph: rgb(243, 243, 243);
  --color-primary-hover: rgb(114, 109, 255);
  --color-border: #38384b;
}

html {
  --color-button-text: #fff;
  --color-primary: #5c57ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: .2s;
}

html, body {
  font-family: 'Inter', sans-serif;
}

p {
  color: var(--color-paragraph);
}

a {
  color: #1a3cd3;
  text-decoration: underline;
  cursor: pointer;
}

label {
  color: var(--color-paragraph);
  font-weight: 600;
}

button {
  background-color: var(--color-primary);
  color: var(--color-button-text);
  transition: .2s;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.modal {
  background: var(--color-bg);
}

.input {
  border: 2px solid var(--color-border);
  background-color: var(--color-bg);
  color: var(--color-text);
}