.textarea {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  width: 80%;
  padding-bottom: 20px;

  background-color: transparent;
  color: var(--color-text);
  border: none;
  
  overflow: hidden;
  outline: none;
  resize: none;
}